.border-style {
    border-style: dashed solid;
    background-color: #1188cd;
    width: 250px;
    height: 150px;
    border-radius: 9%;
    margin-top: 20px;
}

.modify-container {
    text-align: center;
    width: 70vw;
    height: 50vh;
}