.container {
    height: 100%;
    width: 100%;
}

.title_bar {
    margin: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem 0 1.5rem;
    font-size: 1.5rem;
}

.display_board {
    /* overflow: auto; */
    overflow-y: scroll;
    height: 550px;
    margin: 0;
    border: 0;
    padding: 0.5rem 0 0 0;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 20px; /* 圆角半径 */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 阴影效果 */
    border: 1px solid #ccc; /* 边框颜色和宽度 */
    background-color: rgb(240, 250, 252);
}

.column_item_left {
    height: 2rem;
    width: 2rem;
    margin: 0.75rem;
    border: 0;
    padding: 0;
}

.message_left {
    background-color: rgba(255, 255, 255, 0.5);
    /* box-shadow: 1px 1px 2px #888888; */
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    color: #000;
    float: left;
    width: fit-content;
    min-width: 0.5rem;
    max-width: 70%;
    min-height: 1.5rem;
    line-height: 1.5rem;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
}

.single_msg{
    position: fixed;
}

.read_left {
    float: left;
    height: 1rem;
    margin: 0 0 0 0.4rem;
    font-size: 0.6rem;
    color:rgba(0, 0, 0, 0.5);
    line-height: 1rem;
}

.headshot_left {
    border-radius: 0.25rem;
    margin: 0 0.5rem 0 0.25rem;
    border: 0;
    padding: 0;
    float: left;
    width: 2rem;
    height: 2rem;
}

.message_right {
    background-color: rgba(51, 125, 235, 0.75);
    /* box-shadow: 1px 1px 2px #888888; */
    border-radius: 0.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    color: #fff;
    float: right;
    width: fit-content;
    min-width: 0.5rem;
    min-height: 1.5rem;
    line-height: 1.5rem;
    max-width: 70%;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}



.read_right {
    float: right;
    height: 1rem;
    margin: 0 0.4rem 0 0;
    font-size: 0.6rem;
    color:rgba(0, 0, 0, 0.5);
    line-height: 1rem;
}

.headshot_right {
    border-radius: 0.25rem;
    margin: 0 0.25rem 0 0.5rem;
    border: 0;
    padding: 0;
    float: right;
    width: 2rem;
    height: 2rem;
}

.message {
    padding: 0.5rem 0.5rem;
}

.input_box {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 15rem;
    display: flex;
    flex-direction: column;
}

.function_bar {
    overflow: hidden;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.function_button {
    height: 1.5rem;
    width: 1.5rem;
    border: 0;
    margin: 0.5rem 0.5rem 0rem 0.5rem;
    opacity: 0.7;
}
.function_button:hover {
    opacity: 1.0;
}

.writing_box {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    left: 25rem;
    padding: 0.5rem 0 0 0;
}


.menu_show {
    z-index: 999;
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.6rem;
}

.send {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.input {
    border-radius: 0;
    border: none;
    resize: none !important;
}



.message_item {
    border-radius: 0.5rem;
    /* box-shadow: 1px 1px 2px #dbd9d9; */
    margin: 0.5rem;
    border: 0;
    padding: 0;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.08);
}
.message_item:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.message_item_left {
    height: 2rem;
    width: 2rem;
    margin: 0.75rem;
    border: 0;
    padding: 0;
}

.message_item_mid {
    flex: 1;
    height: 2.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.message_item_right {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.5rem;
    border: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* background-color: #888; */
}


.message_item_time {
    height: 1.4rem;
    font-size: 0.6rem;
    line-height: 1.4rem;
    color: #aaa;
    text-align: right;
    overflow: hidden;
}

.message_item_title {
    height: 1.25rem;
    width: 8rem;
    line-height: 1.25rem;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}

.message_item_content {
    height: 1.25rem;
    width: 10rem;
    line-height: 1.25rem;
    font-size: 0.75rem;
    text-align: left;
    color: #777;
    text-overflow: ellipsis;
    overflow: hidden;
}