html, body, #__next, main {
  overflow: hidden;
  margin: 0;
  border: 0;
  padding: 0;
  color: #222;
  height: 100%;
  width: 100%;
  min-width: 54rem;
  min-height: 30rem;
  font-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "PingFang SC", "Heiti SC", sans-serif;
}